<section
            class="relative 2xl:mb-[100px] 1xl:mb-20 xl:mb-17 lg:mb-14 md:mb-12 sm:mb-11 mb-10 w-full bg-white border-t border-b border-primary/20 overflow-hidden 2xl:py-6 1xl:py-5 xl:py-4.5 lg:py-4 md:py-3.5 sm:py-3 py-2.5">
            <div>
                <ul class="flex items-center justify-center 2xl:gap-10 1xl:gap-9 xl:gap-8 lg:gap-6 sm:gap-4 gap-1">
                    {{ highlights }}
                    <li class="flex items-center 2xl:gap-10 1xl:gap-9 xl:gap-8 lg:gap-6 sm:gap-4 gap-1">
                        <svg class="lt:w-5 lt:h-5 md:w-4.5 md:h-4.5 dm:w-4 sm:h-4 w-1 h-1 shrink-0 text-primary/70"
                            viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.2 10.2L12.72 10.44L14.82 12.72L16.68 15.48L11.1 19.08L9.84 15.78L9.24 12.6L7.38 15.66L4.86 18.96L0.6 15.54L3.6 12.66L6.48 10.44L3.18 10.26L0 9.66L2.82 4.08L5.76 5.34L8.52 7.02L8.4 3.72L8.76 0H15L13.8 3.72L12.3 7.02L15.66 5.28L19.02 3.96L19.68 9.54L16.2 10.2Z" />
                        </svg>
                        <h5
                            class="uppercase text-primary/80 italic underline underline-offset-4 sm:decoration-1 decoration-0.5 2xl:text-25 1xl:text-20 lt:text-18 md:text-15 sm:text-xs text-[7px]">
                            {{ highlight_text }}
                        </h5>
                    </li>
                    {{ /highlights }}
                </ul>
            </div>
        </section>