{{ if show_type == "home-one" }}
<section class="relative bg-white 2xl:mb-[100px] 1xl:mb-20 xl:mb-17 lg:mb-14 md:mb-12 sm:mb-11 mb-10">
    <div class="container">
        <div class="flex justify-between lt:flex-row flex-col 2xl:gap-22.5 1xl:gap-20 lg:gap-12 md:gap-10 sm:gap-8 gap-6 xl:items-center items-start">
            <!-- Left: Image -->
            <div class="lt:sticky relative lt:top-20 top-0 w-full lg:max-w-[44%]">
                <div class="overflow-hidden relative before:block before:content-[''] 1xl:before:pt-[116%] lg:before:pt-[130%] before:pt-[110%]">
                    {{ main_image }} <img loading="lazy" decoding="async" src="{{ url }}" alt="Yoga" class="w-full h-full object-cover object-center absolute top-0 left-0" />{{ /main_image }}
                </div>
            </div>

            <!-- Right: Content -->
            <div class="w-full lg:max-w-[56%]">
                <h3 class="text-thunder-100 font-primary italic font-medium 2xl:mb-7.5 1xl:mb-6 md:mb-4 sm:mb-3 mb-2.5">
                    {{ sub_title }}
                </h3>
                <h2 class="text-primary font-normal uppercase 1xl:mb-5 mb-3">
                    {{ section_title }}
                </h2>
                <p>
                    {{ description }}
                </p>

                <div class="2xl:mt-15 1xl:mt-14 mt-6 grid xl:grid-cols-2 lt:grid-cols-1 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 2xl:gap-12.5 1xl:gap-8 md:gap-6 sm:gap-5.5 gap-5">
                    {{ feature_cards limit="4" }}
                    <div class="group border border-primary/15 bg-transparent 2xl:p-6 sm:p-4 p-3.5 hover:bg-whitesmoke-100 hover:border-whitesmoke-100 transition-all duration-300">
                        <div class="flex 1xl:gap-6 gap-4">
                            <div class="2xl:w-13.5 2xl:h-13.5 1xl:w-12 1xl:h-12 lg:w-10 lg:h-10 md:w-10 md:h-10 w-9 h-9 shrink-0">
                                {{ image }} <img src="{{ url }}" alt="Personalized Yoga" class="w-full h-full object-cover" />{{ /image }}
                            </div>
                            <div>
                                <h5 class="uppercase group-hover:text-primary text-black-100 transition-all duration-300 lg:mb-3.5 mb-3">
                                    {{ title }}
                                </h5>
                                <p> {{ description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ /feature_cards }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ /if }}

{{ if show_type == "home-two" }}
    
<section class="relative 2xl:mb-[100px] 1xl:mb-20 xl:mb-17 lg:mb-14 md:mb-12 sm:mb-11 mb-10 w-full">
    <div class="container">
        <div class="grid lg:grid-cols-2 1xl:gap-[70px] xl:gap-[55px] lg:gap-[50px] sm:gap-10 gap-[30px] items-start">
            <!-- Left Column -->
            <div class="flex flex-col items-start 1xl:mb-[50px] lg:mb-11 relative lg:h-full">
                <h3 class="font-primary italic font-medium 2xl:mb-7 1xl:mb-6 xl:mb-5 sm:mb-3 mb-2.5">
                    {{ sub_title }}
                </h3>
                <h2 class="text-primary uppercase 1xl:mb-5 mb-3">
                    {{ section_title }}
                </h2>
                <p>
                    {{ description }}
                </p>
                {{ if button_text }}
                <a href="{{ button_url }}" class="btn btn-secondary xl:mt-[50px] lg:mt-10 sm:mt-8 mt-6">{{ button_text }}</a>
                {{ /if }}

                <!-- Decorative Flower -->
                <div class="pointer-events-none absolute top-auto bottom-0 right-auto left-0 2xl:w-[69%] w-[60%] opacity-15 hidden lg:block">
                    <img src="{{ theme:asset }}assets/image/flower-shape.svg" alt="decor" class="w-full h-full object-contain" />
                </div>
            </div>

            <!-- Right Column - Features -->
            <div class="2xl:space-y-10 1xl:space-y-8 xl:space-y-5 space-y-4">
                <!-- Personalized Yoga -->
                {{ feature_cards }}
                <div class="border-b border-[#d4c5b9] hover:bg-[#F7F5F4]" data-aos="fade-up">
                    <div class="flex sm:flex-row flex-col 2xl:gap-6 gap-5 2xl:p-10 1xl:p-8 xl:p-6 sm:p-5 py-4">
                        <div class="shrink-0">
                            {{ image }}<img src="{{ url }}" alt="{{ title }}" class="2xl:w-[55px] 2xl:h-[55px] 1xl:w-12 1xl:h-12 xl:w-[42px] xl:h-[42px] w-9 h-9 object-contain" />{{ /image }}
                        </div>
                        <div>
                            <h3 class="text-[#704a3a] 2xl:mb-7 xl:mb-5 sm:mb-4 mb-[10px]">
                                {{ title }}
                            </h3>
                            <p>
                                {{ description }}
                            </p>
                        </div>
                    </div>
                </div>
                {{ /feature_cards }}
            </div>
        </div>
    </div>
</section>

{{ /if }}

{{ if show_type == "home-three" }}

<section class="2xl:mb-[100px] 1xl:mb-20 xl:mb-17 lg:mb-14 md:mb-12 sm:mb-11 mb-10 2xl:py-2 relative">
    <div class="container">
        <div class="grid items-center md:grid-cols-2 grid-cols-1 2xl:gap-10 1xl:gap-9 xl:gap-8 lg:gap-7 md:gap-6 sm:gap-5 gap-4 2xl:mb-[50px] 1xl:mb-11 xl:mb-[38px] sm:mb-8 mb-5">
            <div>
                <h3 class="text-thunder-100 font-primary italic font-medium 1xl:mb-6 sm:mb-4 mb-2.5">
                    {{ sub_title }}
                </h3>
                <h2 class="text-primary font-normal uppercase">
                    {{ section_title }}
                </h2>
            </div>
            <div class="max-w-[842px]">
                <p class="text-thunder-100 max-w-[890px] 2xl:mb-10 1xl:mb-9 xl:mb-8 lg:mb-7.5 md:mb-7 sm:mb-6.5 mb-6">
                    {{ description }}
                </p>
                {{ if button_text }}
                <a href="{{ button_url }}" class="btn btn-secondary">{{ button_text }}</a>{{ /if }}
            </div>
        </div>

        <div class="grid lt:grid-cols-4 sm:grid-cols-2 grid-cols-1 1xl:gap-6 xl:gap-5 lt:gap-4 md:gap-6 gap-5">
            <!-- 1st card -->
            {{ feature_cards }}
            <div class="bg-whitesmoke-100 rounded-sm overflow-hidden" data-aos="fade-up">
                <!-- Image Wrapper -->
                <div class="relative overflow-hidden 2xl:h-[256px] 1xl:h-[235px] xl:h-[185px] lt:h-[170px] md:h-[200px] h-[176px] rounded-sm">
                    {{ image }}<img src="{{ url }}" alt="Personalized Yoga" class="w-full h-full object-cover" loading="lazy" decoding="async" />{{ /image }}

                    <!-- Floating Icon -->
                    <div class="absolute top-0 right-0 1xl:w-[60px] 1xl:h-[60px] sm:w-[52px] sm:h-[52px] h-[45px] w-[45px] sm:pl-4 sm:pb-4 sm:pr-1.5 sm:pt-1.5 pl-2.5 pb-2.5 pt-1 pr-1 1xl:rounded-bl-[45px] sm:rounded-bl-[40px] rounded-bl-[32px] full bg-[#6B3E2E] flex items-center justify-center">
                        {{ icon }}<img src="{{ url }}" alt="class" class="w-full h-full object-cover" loading="lazy" decoding="async" />{{ /icon }}
                    </div>
                </div>

                <!-- Content -->
                <div class="1xl:p-[25px] xl:p-5 p-4 text-left">
                    <!-- Title -->
                    <h5 class="uppercase text-primary 1xl:mb-5 mb-3">
                        {{ title }}
                    </h5>

                    <!-- Description -->
                    <p>
                        {{ description }}
                    </p>
                </div>
            </div>
            {{ /feature_cards }}
        </div>
    </div>
</section>
{{ /if }}

{{ if show_type == "home-four" }}

 <section class="relative bg-white 2xl:mb-[100px] 1xl:mb-20 xl:mb-17 lg:mb-14 md:mb-12 sm:mb-11 mb-10">
            <div class="container">
                <div
                    class="flex lt:flex-row flex-col 2xl:gap-20 1xl:gap-14 xl:gap-12 lg:gap-11 md:gap-9 sm:gap-7 gap-5">
                    <!-- Right: Content -->
                    <div class="lt:w-[52%] w-full">
                        <h3
                            class="text-thunder-100 font-primary italic font-medium 1xl:mb-7 xl:mb-6 md:mb-5 sm:mb-4 mb-2.5">
                            {{ sub_title }}
                        </h3>
                        <h2 class="text-primary font-normal uppercase 1xl:mb-5 mb-3">
                           {{ section_title }}
                        </h2>
                        <p class="text-thunder-100 max-w-[890px]">
                           {{ description }}
                        </p>
                        {{ if button_text }}
                        <div class="2xl:mt-11.5 1xl:mt-10 xl:mt-8 mt-6">
                            <a href="{{ button_url }}" class="btn btn-secondary">{{ button_text }}</a>
                        </div>{{ /if }}
                        <!-- after md -->
                        <div class="lt:w-[48%] w-full md:hidden block mt-7.5">
                            <div
                                class="rounded overflow-hidden relative before:content-[''] before:block 1xl:before:pt-[98%] xl:before:pt-[106%] lt:before:pt-[122%] before:pt-[82%] w-full h-full">
                                {{ main_image }}<img src="{{ url }}" alt="About Image"
                                    class="absolute top-0 left-0 w-full h-full object-cover" loading="lazy"
                                    decoding="async" loading="lazy" decoding="async" />{{ /main_image }}
                            </div>
                        </div>

                        <div class="relative 2xl:mt-[50px] 1xl:mt-11 xl:mt-9 mt-7.5 why-choose-home-4">
                            <div class="1xl:px-6 sm:px-5 sm:m-0 mb-6">
                                <div class="swiper why-choose">
                                    <div class="swiper-wrapper">
                                        <!-- 1st slide -->
                                        {{ feature_cards }}
                                        <div class="swiper-slide h-auto! bg-whitesmoke-100">
                                            <div class="bg-[#F7F5F4] 2xl:p-[33px] 1xl:p-[30px] p-6 rounded-sm h-full">
                                                <div
                                                    class="bg-white rounded-[10px] 2xl:w-[84px] 2xl:h-[84px] 1xl:w-[80px] 1xl:h-[80px] sm:h-[65px] sm:w-[65px] w-[60px] h-[60px] 1xl:mb-10 md:mb-8 sm:mb-6 mb-4 p-2">
                                                    {{ image }}<img src="{{ url }}" alt="group yoga" loading="lazy"
                                                        decoding="async" loading="lazy" decoding="async" />{{ /image }}
                                                </div>
                                                <h5 class="uppercase text-primary 1xl:mb-5 mb-3">
                                                     {{ title }}
                                                </h5>
                                                <p>
                                                    {{ description }}
                                                </p>
                                            </div>
                                        </div>
                                        {{ /feature_cards }}
                                    </div>
                                </div>
                            </div>
                            <div
                                class="relative sm:absolute sm:top-1/2 top-0 sm:-translate-y-1/2 sm:w-full w-[84px] flex items-center justify-between mx-auto z-1">
                                <div class="slider-custom-arrow swiper-button-prev">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"
                                        fill="none" class="swiper-navigation-icon">
                                        <path
                                            d="M20.9741 8.80684C20.9741 8.80684 6.87288 8.80675 0.999486 8.80669M0.999486 8.80669L8.23218 16.6134M0.999486 8.80669L8.23321 1"
                                            fill="currentColor" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <div class="slider-custom-arrow swiper-button-next">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"
                                        fill="none" class="swiper-navigation-icon">
                                        <path
                                            d="M20.9741 8.80684C20.9741 8.80684 6.87288 8.80675 0.999486 8.80669M0.999486 8.80669L8.23218 16.6134M0.999486 8.80669L8.23321 1"
                                            fill="currentColor" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Left: Image -->
                    <div class="lt:w-[48%] w-full md:block hidden rounded-sm overflow-hidden">
                        <div
                            class="rounded overflow-hidden relative before:content-[''] before:block 1xl:before:pt-[98%] xl:before:pt-[106%] lt:before:pt-[122%] before:pt-[82%] w-full h-full">
                            {{ main_image }}<img src="{{ url }}" alt="About Image"
                                class="absolute top-0 left-0 w-full h-full object-cover" loading="lazy"
                                decoding="async" />{{ /main_image }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{ /if }}